.App {
  text-align: center;
}

.error {
  color:#dc3545;
}

.container {
  margin: 20px;
}

.spinner-container {
  position: absolute;
  top:100px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.worker-card {
  margin-bottom: 20px;
}

.filter-label > .sr-only {
  display: none;
}

form button {
  width: 100%;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}